@import "../../../Variables";


.classesItem {
  &__name {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__tags {

  }

  &__controls {
    position: relative;
  }
}

.controls {
  &__btn {
    position: absolute;
    right: 10px;

    background: none;
    border: none;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    padding: 5px 5px;

    &:before, &:after, .controls__circle {
      background: black;
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }

    &:before, &:after {
      display: block;
      content: "";
    }

    &__circle {
    }

    &:hover {
      cursor: pointer;

      &:before, &:after, & .controls__circle {
        background: #1976D3;
      }
    }
  }

  &__modal {
    position: absolute;
    z-index: 2;
    right: 15px;
    width: 90%;
    top: 30px;
    background: white;
    padding: 10px;
    border: 1px solid #CFD8E1;
    box-shadow: 0px 8px 8px rgba(34, 40, 53, 0.04);
  }

  &__modalItem {
    display: flex;
    align-items: center;
    text-decoration: none;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & svg {
      margin: 5px;
    }

    &:hover {
      cursor: pointer;
    }

    &_delete {
      color: #EB3235;
    }
  }
}

