.modal{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.37);
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  display: grid;
  &__content{
    z-index: 11;
    margin: auto;
    background: white;
    padding: 24px 32px;
  }
}