@import "src/Variables";

.rights-panel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  &__h2{
    font-style: normal;
    font-weight: normal;
    color: $menu-color;
    font-size: 18rem / $font-size;
    text-align: left;
    padding: 18px 28px;
  }

  &__content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background: $background;
    padding: 28px;
  }


  &__search-block{
    padding: 19px;
    text-align: left;
    background: $menu-color;
    color: white;
    display: flex;
    flex-direction: column;
  }

  &__search-block-label{
    position: relative;
  }

  &__search-block-input{
    width: 100%;
    font-size: 14rem / $font-size;
    padding: 6px 20px 6px 12px;
    border-radius: 8px;
  }
  &__search-block-svg{
    position: absolute;
    & path {
      stroke: $menu-color;
    }

    top:5px;
    right: 12px;
  }

  &__h3{
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 25px;
  }

  &__employee-info{
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
}