.App {
    text-align: center;
    font-size: 16px;
}
.app{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.app__messages{
    position: fixed;
    right: 1vw;
    top: 5vh;
}

.app__navbar{
    width: 225px;
}

.app__content{
    flex: 1 1 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  background: #1976D3;
  min-height: 56px;
  width: 100%;
}

@font-face {
    font-family: "Inter";
    src: local("Akrobat"),
    url("fonts/Inter/Inter-Regular.ttf");
    font-weight: normal;
}
