.App {
    text-align: center;
    font-size: 16px;
}

.app__messages{
    position: fixed;
    right: 1vw;
    top: 5vh;
}

.header {
  background: #1976D3;
  min-height: 56px;
  width: 100%;
}

@font-face {
    font-family: "Inter";
    src: local("Akrobat"),
    url("fonts/Inter/Inter-Regular.ttf");
    font-weight: normal;
}
