.messages {
  display: grid;
  gap: 10px;
  width: 400px;
  z-index: 10;
}

.message{
  width: 100%;
  padding: 18px;
  background: #FFF6F6;
  border: 1px solid #FECCCC;
  box-shadow: 0px 8px 8px rgba(34, 40, 53, 0.04);
  border-radius: 4px;
}