@import "src/Variables";
.files-main {
  &__content {
    background: #E5E5E5;
    padding: 28px;
  }

  &__title {
    width: 100%;
    padding: 18px 0 18px 25px;
    text-align: left;
     color: #1976D3;
    font-weight: normal;
    font-size: 1.28em;
  }
}

.files {
  background: white;
  text-align: left;

  &__files {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }

  &__title {
    padding: 23px 0;
    font-size: 1.15em;
  }

  &__filters{
    padding: 32px 32px 26px;
    background: $menu-color;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-main{
      position: relative;
      display: flex;
      gap: 16px;
      & .files__filter {
        flex: 1 1 auto;
      }

      & input {
        padding-left: 44px;
      }
    }

    &-add{
      align-self: flex-start;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 16px;

      &_hidden{
        display: none;
      }
    }
  }

  &__reset{
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 13px;

    &:hover{
      cursor: pointer;
      color: black;
    }
  }

  &__item {
    padding: 25px 30px;

    &_name {
      &:hover {
        color: blue;
        cursor: pointer;
      }
    }
    &_relative{
      position: relative;
    }
  }

  &__btn-search{
    top: 0;
    bottom: 0;
    margin: auto;
    background: none;
    border: none;
    position: absolute;
    z-index: 1;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    &:hover{
      cursor: pointer;
      color: $menu-color;
    }
  }

  &__btn-open-filter{
    width: 168px;
    background: white;
    border: 1px solid #CED4DA;
    border-radius: 4px;
    font-size: 1em;
    color: black;
    display: flex;
    gap: 11px;
    align-items: center;
    line-height: 20px;
    padding: 0 12px;
    &:active, &:focus, &:hover{
      cursor: pointer;
      box-shadow: 0px 0px 0px 2px rgba(87, 161, 237, 0.6);
      outline: 0;
      outline-offset: 0;
    }

    & span {
      margin-top: -3px;
    }

    &-close {
      margin-left: auto;
    }
  }
}

.file-controls {

  &__btn{
    position: absolute;
    right: 10px;
    top:10px;

    background: none;
    border: none;
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
    padding: 5px 5px;

    &:before, &:after, .file-controls__circle {

      background: black;
      border-radius: 50%;
      width: 5px;
      height: 5px;
    }

    &:before, &:after {
      display: block;
      content: "";
    }

    &__circle {
    }

    &:hover {
      cursor: pointer;
      &:before, &:after, & .file-controls__circle {
        background: #1976D3;
      }
    }
  }

  &__modal{
    position: absolute;
    z-index: 2;
    right: 15px;
    width: 90%;
    top: 30px;
    background: white;
    padding: 10px;
    border: 1px solid #CFD8E1;
    box-shadow: 0px 8px 8px rgba(34, 40, 53, 0.04);
  }

  &__modal-item{
    display: flex;
    align-items: center;
    &:not(:last-of-type){
      margin-bottom: 10px;
    }
    & svg{
      margin: 5px;
    }

    &:hover{
      cursor: pointer;
    }
    &_delete{
      color: #EB3235;
    }
  }

}