@import "src/Variables";

.paginator {
  margin-left: 28px;
  display: flex;
  color: $paginator-num;
  margin-bottom: 30px;
  &__nothing, &__item {
    color: $paginator-num;
    padding: 12px 15px;
    border: 1px solid #E9E9E9;
    background: white;
  }

  &__item {
    transition: border 0.25s ease;

    &:hover {
      border: 1px solid $menu-color-hover;
      cursor: pointer;
    }

    &_active {
      color: $menu-color;
      border: 1px solid $menu-color;
    }

    &_disabled {
      &:hover {
        border: 1px solid $disabled-btn;
        background: $disabled-btn;
      }
    }
  }
}

