@import "src/Variables";
.start-page{
  color: white;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(211.35deg, #12599E 13.6%, #87C4FF 112.03%);
  padding: 63px 150px;
  display: grid;
  font-family: Inter, sans-serif;

  &__logo{

  }
  &__content{
    text-align: left;
    font-size: 32rem /$font-size;
    justify-self: center;
    max-width: 920px;
  }

  &__title{
    font-size: 72rem / $font-size;
    margin-bottom: 49px;
  }

  &__description, &__btn{
    margin-left: 97px;
  }
  &__description{
    text-align: left;
    margin-bottom: 57px;
  }

  &__btn{
    font-size: 24rem /$font-size;
  }
}