.select{
  position: relative;
  & select {
    display: none;
  }

  &__field{
    width: 100%;
    border: 1px solid #CED4DA;
    height: 34px;
    border-radius: 4px;
    font-size: 1em;
    &:active, &:focus, &:hover{
      box-shadow: 0px 0px 0px 2px rgba(87, 161, 237, 0.6);
      outline: 0;
      outline-offset: 0;
    }
  }

  &__list{
    z-index: 2;
    width: 100%;
    height: auto;
    position: absolute;
    display: none;
    border: 1px solid #CFD8E1;
    box-sizing: border-box;
    background: #F6F8F9;;
    box-shadow: 0 8px 8px rgba(34, 40, 53, 0.04);
    &_open{
      display: block;
    }
  }

  &__scroll{
    max-height: 171px;

    overflow-y: auto;
    box-sizing: border-box;
    height: auto;
    &::-webkit-scrollbar {
      width: 4px;               /* ширина scrollbar */
    }
    &::-webkit-scrollbar-thumb {
      background-color: #CFD8E1;    /* цвет плашки */
      border-radius: 4px;       /* закругления плашки */
    }
  }

  &__option{
    box-sizing: border-box;
    padding: 7px 12px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 16px;
    &::before{
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #CFD8E1;
      background: white;
      border-radius: 3.2px;
    }
    &:hover{
      cursor: pointer;
      color: white;
      background: #1976D3;
      &::before{
        background: #222835;
      }
    }

    &_active{
      color: white;
      background: #1976D3;
      text-decoration: underline;
      &::before{
        background: #222835;
      }
    }
  }

  &__input-date{
    //position: absolute;
    //z-index: 1;
  }
}

.input-date{
  &__label{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  &__btns{
    margin-top: 21px;
    display: flex;
  }
}