@import "src/Variables";

.block{
  display: flex;
  flex-direction: column;
  background: #C9E4FF;
  flex: 1 1 auto;
}

.h2{
  background: white;
  color: $menu-color;
  padding: 18px 32px;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
}

.content{
  flex: 1 1 auto;
  background: white;
  margin: 32px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.controls{
  padding-top: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.controlBtn {
  white-space: nowrap;
}

.classes {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.classesEmpty {
  margin: auto;
  align-self: center;
}