.button{
    padding: 8px 25px;
    background: #1976D2;
    color: white;
    border: none;
    border-radius: 4px;
    outline: none;
}

.button:hover{
    cursor: pointer;
    background: #0081ff;
}

.button:active{
    cursor: pointer;
    background: #0081ff;
    box-shadow: 0 0 5px #222835;
}

